a {
  color: #f22613;
}
a:hover {
  color: #0e9cd1;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #f22613;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #f22613;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #f22613;
}
#offcanvas-toggler >i {
  color: #fff;
}
#offcanvas-toggler >i:hover {
  color: #f22613;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #f22613;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #f22613;
}
.sp-page-title {
  background: #f22613;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #f22613;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #f22613;
}
.sp-module .tagscloud .tag-name:hover {
  background: #f22613;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #f22613;
}
.search .btn-toolbar button {
  background: #f22613;
}
.post-format {
  background: #f22613;
}
.voting-symbol span.star.active:before {
  color: #f22613;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #f22613;
}
blockquote {
  border-color: #f22613;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #f22613;
}
#sp-footer {
  background: #f22613;
}
.sp-comingsoon body {
  background-color: #f22613;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #f22613;
  background-color: #f22613;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #f22613;
  background-color: #f22613;
}
.et-title,
.et-slider-content a,
.et-about-item-title h3:before,
.et-about-button,
.et-intro-item:hover i,
.et-portfolio-button:hover,
.et-testimonial .qx-designation:after,
.et-action-button:hover,
.et-contact-item:hover {
  background: #f22613;
}
.et-about-item i,
.et-intro-item i,
.et-table-item h3,
.et-table-item .table-price .price,
.et-table-item button:hover a,
.et-testimonial p.qx-designation,
.et-testimonial button,
.et-team-item h4 {
  color: #f22613; 
}
.et-slider-content a,
.et-feature-content .button,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover,
.et-table-item button,
.et-subscribe-content table .button:hover {
  border-color: #f22613;
}
/* Important */
.et-slider-text,
.et-slider-text h5,
.et-services-item:hover i,
.et-services-item:hover h4 {
  color: #f22613!important; 
}
.projects-filter a.selected, 
.projects-filter a.selected:hover,
.et-contact #sp-quickcontact-form .button:hover,
.et-subscribe-content table .button:hover {
  background: #f22613!important;  
}
.et-contact #sp-quickcontact-form .button:hover {
  border-color: #f22613!important; 
}